<div class="profile columns row">
    <div class="column">
      <h1> <%= link_to  'Zocka !', root_path %> </h1>
    </div>
    <% if user_signed_in? %>
      <div class="column">
        <i class="fas fa-user"></i><%= current_user.username %>
      </div>
      <div class="column">
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      </div>
      <div class="column">
        <%= link_to('Edit registration', edit_user_registration_path) %>
      </div>
    <% else %>
      <div class="column"></div>
      <div class="column">
        <%= link_to('Login', new_user_session_path) %>
      </div>
      <div class="column">
        <%= link_to('Register', new_user_registration_path) %>
      </div>
    <% end %>
</div>

