<div class="columns game_entry game_<%= game_entry.id %>">
  <div class="column w-25">
    <p class="title wrap-text"><%= game_entry.name %></p>
      <div class="columns">
        <div class="column"><%= icon_link('search', game_entry_path(game_entry), title: 'Show Entry') %></div>
        <div class="column"><%= icon_link('edit', edit_game_entry_path(game_entry), name: 'edit_entry', title: 'Edit Entry') %></div>
        <div class="column"><%= icon_link('globe', game_entry.game_link, title: 'See webpage') %></div>
        <div class="column"><%= icon_link('trash-alt', game_entry, method: :delete, data: { confirm: 'Are you sure?' }, name: 'delete_entry', title: "Delete Entry") %></div>
        <div class="column"><%= icon_link('thumbs-up', upvote_game_entry_path(id: game_entry.id, group_id: get_group_id), method: :post, title: "I like it!") %></div>
        <div class="column"><%= icon_link('thumbs-down', downvote_game_entry_path(id: game_entry.id, group_id: get_group_id), method: :post, title: "I hate it!") %></div>
      </div>
    <div class="game_description wrap-text"><%= game_entry.description %></div>
  </div>
  <div class="column is-one-fifth">
    <span class="title score"><%= game_entry.score(@group)  %></span>
  </div>
  <div class="column">
    <div class="columns">
      <div class="column">
        <%= icon_link('dollar-sign', new_recommendation_path(recommendation: {game_entry_id: game_entry.id, user_id: current_user.id, owned: true}), title: 'I have it! ') %>
        ( <%= game_entry.owner_count %> )
      </div>
      <div class="column">
        <%= icon_link('grin-hearts', new_recommendation_path(recommendation: {game_entry_id: game_entry.id, user_id: current_user.id, wanted: true}), title: 'I want it! ') %>
        ( <%= game_entry.wishlist_count %> )
      </div>
    </div>
  </div>
</div>